.o_mrp_bom_report_page {
    background-color: @odoo-view-background-color;
    margin: 16px auto;
    padding-top: 24px;
    padding-right: 16px;
    padding-bottom: 24px;
    padding-left: 16px;
    .o_report_header {
        border-top-style: groove;
        border-bottom-style: groove;
        border-width: 2px;
        th {
            // text-align: left;
            // padding-left: 10px;
        }
    }
    table > tbody > tr > td ~ td > span {
        // margin-left: 10px;
    }
    .o_mrp_bom_no_fold {
        // margin-left: 17px;
    }
    tbody tr {
        border-width: 1px;
        border-top-style: solid;
        border-bottom-style: groove;
    }
    .o_mrp_bom_unfoldable, .o_mrp_bom_foldable {
        margin-left: -20px;
        cursor: pointer;
    }
    .o_mrp_bom_action  {
        cursor: pointer;
    }
}
